*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
width: 100%;
min-height: 100vh;
display: grid;
place-items: center;
}

.container{
    background-color: whitesmoke;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 10px;
}
.information{
    display: grid;
    place-items: center;
}